.NavLink {
    gap: 30px;
    align-items: center;
    font-size: 18px;
}

.NavLinkChild {
    background-color: rgb(38, 112, 116);
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

}

.NavLinkChild:hover {
    background-color: rgb(17, 84, 99);
}

.NavLinkChild:focus {
    transform: scale(1.05);
    background-color: white;
    color: teal;
  transform: 0.8s;
}

.trans:hover{
    transform: scale(1.1);
    transition: 2s;
}